body {
	background-color: lightgrey;
	font-family: 'Roboto', sans-serif;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.song-page {
	background-color: white;
	width: 90%;
	margin: 30px auto;
	border-radius: 5%;
	box-shadow: 2px 4px 10px 4px;
	text-align: center;
	padding: 30px;

}